*.o
*.lo
*.la
*.a
*.so
*.gz
*.spec
*.in
*.bak
*.swp
*.class
*~
.DS_Store
.libs
.deps
run_test.sh
machines
ipopt_solver
high_order
one_minute
timestep_func
forward_over_reverse
test_rosenbrock
test_simple
test_simple.cpp
test_generic
test_generic.cpp
test_identity
test_square
test_quad
test_param
test_preacc
test_checkpointing
test_single_forward
test_multi_forward
nlp_problem.cpp
compile
Makefile
Makefile.in
reversead_config.h
m4/*
configure
aclocal.m4
config.log
config.guess
config.status
config.sub
libtool
autom4te.cache/*
depcomp
install-sh
ltmain.sh
missing
INSTALL

