*.o
*.lo
*.la
*.a
*.so
*.gz
*.spec
*.in
*.bak
*~
.libs
.deps
run_test.sh
machines
ipopt_solver
test_tape
test_trace
test_rosenbrock
test_simple
test_simple.cpp
test_generic
test_identity
test_square
test_quad
test_param
test_preacc
test_mpi
test_mpi_reduce
test_mpi_thomson
test_base_adouble
test_base_function_replay
test_base_reverse_adjoint
nlp_problem.cpp
compile
Makefile
Makefile.in
reversead_config.h
m4/*
configure
aclocal.m4
config.log
config.guess
config.status
config.sub
libtool
autom4te.cache/*
depcomp
install-sh
ltmain.sh
missing
INSTALL

