*.o
*.lo
*.la
*.a
*.so
*.gz
*.spec
*.in
*.bak
*~
.libs
.deps
test_tape
test_trace
test_base_adouble
test_base_function_replay
Makefile
Makefile.in
m4/*
configure
aclocal.m4
config.log
config.guess
config.status
config.sub
libtool
autom4te.cache/*
depcomp
install-sh
ltmain.sh
missing
INSTALL

